body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    margin: auto;
    display:flex;
    flex-direction: row;
}
.backing{
    margin-left: 590px;
   display:inline-block;
} 
.icon{
    margin:auto;
    text-decoration: none;
    color: red ;
    font-size: 30px;
    width: 47px;
    height: 19px;
    display:inline-block;
} 
.icon1{

    text-decoration: none;
    color: red ;
    width: 47px;
    height: 19px;
    font-size: 35px;
    display:inline-block; 
    position: relative;
    top: 113px;
    left: 179px;
}
h1{
    display:inline-block;  
}

.box{
    text-align: center;
    margin: auto;
    border:1px solid red;
    border-radius: 12px;
    box-shadow: 5px 5px 12px grey;
    height: 367px;
    width: 443px
}
.heading{
    font-size: 32px;
    color:red;
    padding-top: 20px;
    padding-bottom:10px ;
}
.checkbox{
    text-align:center;
    font-size: 24px;
}